@model MVC10.Models.Movie

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumCriticForReviews)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumCriticForReviews)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DirectorFacebookLikes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DirectorFacebookLikes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Actor3FacebookLikes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Actor3FacebookLikes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Actor2Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Actor2Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Actor1FacebookLikes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Actor1FacebookLikes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gross)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gross)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genres)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genres)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Actor1Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Actor1Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MovieTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MovieTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumVotedUsers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumVotedUsers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CastTotalFacebookLikes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CastTotalFacebookLikes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Actor3Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Actor3Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FacenumberInPoster)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FacenumberInPoster)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlotKeywords)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlotKeywords)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MovieImdbLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MovieImdbLink)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumUserForReviews)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumUserForReviews)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Language)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Language)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContentRating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContentRating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Budget)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Budget)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TitleYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TitleYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Actor2FacebookLikes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Actor2FacebookLikes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImdbScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImdbScore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AspectRatio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AspectRatio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MovieFacebookLikes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MovieFacebookLikes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Director)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Director.DirectorName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MovieId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
